<div class="container">
    <div>
        <div class="login">
            <h4 [ngStyle]="h4Styles">Login to Finance App</h4>
            <mat-form-field appearance="outline">
                <mat-label>Email</mat-label>
                <input matInput inputmode="email" [formControl]="email">
                <mat-error *ngIf="email.hasError('required')">
                    Email cannot be left blank
                </mat-error>
                <mat-error *ngIf="email.hasError('email')">
                    Email format is invalid
                </mat-error>
            </mat-form-field>
            <div style="display: flex;flex-direction: column;">
                <mat-form-field appearance="outline">
                    <mat-label>Password</mat-label>
                    <input matInput type="password" [formControl]="password" />
                </mat-form-field>
                <span
                    [ngClass]="(password.hasError('required') && (password.touched || password.dirty))?'error':'no-error'">
                    Password is required
                </span>
                <span [ngStyle]="{'color':password.hasError('pattern')?'red':'white'}">
                    Password should be minimum of 7 alphanumeric ,one special character
                </span>
            </div>

            <button mat-raised-button [style.background-color]="loginClicked?'green':'red'"
                (click)="login()">Login</button>
            <button mat-button [routerLink]="'./signup'">New User? SignUp</button>
        </div>
    </div>
    {{password.errors | json}}
</div>