<mat-toolbar color="primary">

  <span style="cursor: pointer;" [routerLink]="''">Finance <strong> | Planner</strong></span>
  <button mat-button [routerLink]="'/expenses'">Expenses</button>
  <button mat-button [routerLink]="'/investment'">Investment</button>
  <button mat-button>Learning</button>
  <span class="example-spacer"></span>
  <button [routerLink]="'/admin'" mat-button class="example-icon favorite-icon">
    Admin
  </button>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
    <mat-icon>share</mat-icon>
  </button>
</mat-toolbar>