<!-- <p>add-expense works!</p>
<input type="text" [(ngModel)]="expName" /> -->
<div class="exp">
    <form [formGroup]="expFormGroup" class="exp-form">
        <mat-form-field appearance="outline">
            <mat-label>Expense Title</mat-label>
            <input matInput formControlName="title">
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Expense Amount</mat-label>
            <input matInput formControlName="amount">
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Expense Date</mat-label>
            <input matInput formControlName="expDate">
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Select</mat-label>
            <mat-select formControlName="category">
                <mat-option [value]=i *ngFor="let i of categories">{{i}}</mat-option>
            </mat-select>
        </mat-form-field>
        <button mat-raised-button color="primary" (click)="addExpense()">Add Expense</button>
    </form>

</div>